<section>
  <div class="news">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-12">
          <h1>LATEST NEWS</h1>
        </div>

      </div>
    </div>

    <div class="col-lg-12 col-12">
      <div class="row blog">
        <a class="mr-3" href="#">Blogs</a>
        <a href="#">FAQs</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="explore">
      <div class="container">
          <div class="row">

              <div class="col-md-4 col-12">
                 <div class="main">
                      <div class="image3">
                          <img src="../../../../assets/img/e6.jpg">
                      </div>

                      <div class="wrappers">
                          <h6>BLOGS</h6>
                          <h4>Another successful annual UKAS visit</h4>

                          <div class="press2">
                              <a href="#">Read MORE</a>
                          </div>
                      </div>
                 </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="main">
                       <div class="image3">
                           <img src="../../../../assets/img/e2.jpg">
                       </div>

                       <div class="wrappers">
                           <h6>BLOGS</h6>
                           <h4>Annex SL – the Foundation Stone for Management Systems Standards</h4>

                           <div class="press2">
                               <a href="#">Read MORE</a>
                           </div>
                       </div>
                  </div>
               </div>

              <div class="col-md-4 col-12">
                  <div class="main">
                       <div class="image3">
                           <img src="../../../../assets/img/e4.jpg">
                       </div>

                       <div class="wrappers">
                           <h6>BLOGS</h6>
                           <h4>What is ISO certification?</h4>

                           <div class="press2">
                               <a href="#">Read MORE</a>
                           </div>
                       </div>
                  </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="main">
                       <div class="image3">
                           <img src="../../../../assets/img/e1.jpg">
                       </div>

                       <div class="wrappers">
                           <h6>BLOGS</h6>
                           <h4>Integrating Standards: Insights from a Lead Auditor</h4>

                           <div class="press2">
                               <a href="#">Read MORE</a>
                           </div>
                       </div>
                  </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="main">
                       <div class="image3">
                           <img src="../../../../assets/img/e5.jpg">
                       </div>

                       <div class="wrappers">
                           <h6>BLOGS</h6>
                           <h4>Another successful annual UKAS visit</h4>

                           <div class="press2">
                               <a href="#">Read MORE</a>
                           </div>
                       </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>