<section>
  <div class="banner">
      <div class="container">
          <div class="row">

              <div class="col-lg-12">
                  <h1>IMPARTIALITY STATEMENT</h1>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="client">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
               <div class="main">
                  <h5 class="pt-5">ACM-CCAS Limited (ACM) provides an impartial and comprehensive management system certification service in line with all the requirements of the national standard for certification bodies, ISO/IEC 17021-1:2015</h5>
                  <p class="pt-3"> The credibility, integrity and objectivity of an ACM certificate is fundamental to our clients needs and for those that subsequently rely on it. The management team at ACM have committed to ensuring that any threats to the impartiality and confidentiality in the delivery and certification of management systems are managed robustly and pro-actively. </p>
                  <p class="pt-3"> Threats to impartiality and potential conflicts of interest can be categorised as follows:</p>

                  <ol class="pt-4">
                    <li>Self-interest threats: Threats that arise from a person or body acting in their own interest. A concern related to certification, as a threat to impartiality, is financial self-interest. </li>
                    <li>Self-review threats: Threats that arise from a person or body reviewing the work done by themselves. Auditing the management systems of a client to whom the certification body provided management system consultancy would be a self-review threat. </li>
                    <li>Intimidation threats: Threats that arise from a person or body having a perception of being coerced openly or secretively, such as a threat to be replaced or reported to a supervisor.</li>
                    <li>ACM is guided by the following statements and shall <span>NOT</span> under any circumstance.</li>
                  </ol>

                  <ul>
                    <li>Provide management system consultancy which includes: preparation or production of manuals or procedures, or give specific advice, instructions or solutions.</li>
                    <li>Use an auditor who has provided management system advice or consultancy to that client within the last two years of the audit.</li>
                    <li>Offer certification when relationships that threaten impartiality cannot be eliminated or minimised</li>
                    <li>Certify another certification body for management systems</li>
                    <li>Certify a client when a relationship with a management systems consultancy poses an unacceptable threat to impartiality.</li>
                    <li>Provide an ISO internal audit service to any certified clients.</li>
                    <li>Have within any marketing materials, written or oral, any impression that certification and management system consultancy are linked.</li>
                  </ul>

                  <p class="pt-3">We seek to ensure our clients are treated fairly by the following processes:</p>

                  <ul class="pt-3">
                    <li>An annual management led review of our relationships with other bodies and risk assessment to ensure impartiality and confidentiality.</li>
                    <li>All employees and associates to have signed confidentiality and impartiality declarations.</li>
                    <li>Each auditor is required to verify independence prior to carrying out work</li>
                    <li>Our certificate approval procedures ensure the person(s) who conduct the audit do not make the certification decision.</li>
                    <li>All client files are made available to our independent certification board and UK Accreditation Service (UKAS) to help ensure impartiality</li>
                    <li>All certification charges are based on strict guidance issued by the International Accreditation Forum and regulated by UKAS.</li>
                  </ul>

                  <p class="pt-3">The full version of our Impartiality Statement is available on request, <span>please email us.</span> </p>
                 
               </div>
            </div>

        </div>
    </div>
</div>
</section>