.banner
{
    background-color: red;
    text-align: center;
    padding: 7% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner h1
{
    font-size: 55px;
    padding: 0 10%;
    color: white;
    font-weight: bold;
}

.history
{
    padding: 5% 0;
    background-color: white;
}

.history .text
{
    margin-top: 5%;
}

.history .text p
{
    color: #656565;
    font-size: 16px;
}

.history .text span
{
    font-weight: bold;
    color: red;
}

section h5
{
    font-size: 16px;
    color: red;
}

.table
{
    margin-top: 2%;
}

.table td, .table th
{
    padding: 3%;
    width: 10%;
    border: 1px solid #dedede;
}



@media screen and (max-width: 600px)
{

.banner h1
{
    font-size: 35px;
    padding: 0 5%;
}  

}


