<section>
  <div class="start">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-12">
                  <div class="head">
                      <h1>CHAS</h1>
                      <p class="pt-4">The world’s most recognised quality management standard.</p>

                      <div class="press12">
                          <a class="red-btn mr-3" href="#">Start application</a>
                          <a class="red-btn" href="#">Get help from an expert</a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="wrapper">
                      <div class="image">
                        <img src="./assets/img/2.png">
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="main">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-12 col-12">
          <div class="row">
            <a class="pr-3" href="#">Home</a>
            <p>CHAS</p>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="customers">
              <h4>Your commitment to quality and your customers</h4>
              <p class="pt-3">The CHAS certification is the internationally-recognised standard for quality management, and it’s a particularly powerful tool for improving your business. Its benefits are wide-ranging, and it shows – in fact, it’s been implemented by over 1.1 million organisations worldwide, and yours could be next.</p>
              <p class="pt-3">A clear framework of principles, CHAS acts as a blueprint for internal efficiency and effectiveness. By becoming certified, you’re making a clear statement about your commitment to continuous improvement, and to the importance of customer satisfaction.</p>
          </div>
        </div>

        <div class="col-lg-10 col-12">
          <div class="images">
            <img src="./assets/img/c3.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="customers">
              <h4>Your commitment to quality and your customers</h4>
              <p class="pt-3"><span>Consistent quality -</span> Not only does it demonstrate a high quality product or service from your business, an CHAS certification promises consistency too. Customers and partners will know that you’ll deliver each and every time.</p>
              <p class="pt-3"><span>Effective processes -</span> Process improvement is at the core of this standard. It’s all about streamlining things to improve operational performance, which will see an uplift in productivity.</p>
              <p class="pt-3"><span>New business wins  -</span> CHAS certification puts you in a highly competitive position on the market, where you’re in the prime place to win tenders and open up more opportunities, as well as retaining</p>
              <p class="pt-3"><span>A customer focus  -</span> This standard really puts the customer at the heart of your business, which lets you focus wholly on meeting their needs – and you’re sure to see customer satisfaction soar as a result.</p>
              <p class="pt-3">Some of the other main benefits of an CHAS certification includes:</p>

              <ul>
                <li>Driving down costs through streamlined processes</li>
                <li>Risk management systems that help to avoid problems</li>
                <li>Motivated team members who have a clear understanding of processes and their role</li>
                <li>Engaging upper-level management and stakeholders</li>
                <li>Compliance to industry regulations</li>
                <li>A boost in your brand’s reputation</li>
              </ul>

              <h4>What are the next steps?</h4>
              <p class="pt-3">We know the process of certification can seem daunting, but we’re here to make it simple. We have an incredibly experienced team of assessors and auditors who’ve all been through the process themselves, so they know what it takes and how best to support you along the CHAS certification process.</p>
              <p class="pt-3">All you need to do is fill in an application form and we’ll get back to you with a quote – as easy as that!</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="ready">
      <div class="container">
          <div class="row">

              <div class="col-md-8 col-12">
                  <div class="first">
                      <h6>ARE YOU READY TO GET STARTED?</h6>
                      <p>Getting started is easy and we’ll guide you every step in the way.  Speak to our friendly team by getting in touch below.</p>

                      <div class="press4">
                          <a href="#">Contact us</a>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="image4">
                      <img src="./assets/img/z2.png">
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="tansfer">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-12">
                  <a href="#">Transfer your ISO standards to us</a>
                  <p class="pt-3">If you’ve started the process but would like to switch to us, we can help you get it done quickly and easily.</p>
              </div>

              <div class="col-lg-6 col-12">
                  <a href="#">Need help getting started?</a>
                  <p class="pt-3">Not sure where to start? Contact us and speak to our team. We’ll help you get started in no time.</p>
              </div>

          </div>
      </div>
  </div>
</section>
