<section>
  <div class="details">
      <div class="container">
          <div class="row">

              <div class="col-lg-8 col-12">
                  <div class="wrapper">

                    <div class="col-md-12 col-12">
                      <div class="row">
                        <a class="pr-3" href="#">Home</a>
                        <p>Contact an expert</p>
                      </div>
                    </div>

                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group pt-3">
                                  <input type="text" class="form-control" placeholder="Your name">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Position / job title">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Contact number">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Email">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="How did you hear about CITRIX?">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12 ">
                          <div class="press8">
                              <a class="red-btn" href="#">Send your message</a> 
                          </div>
                      </div>

                  </div>
              </div>

              <div class="col-md-4 col-12">
                <div class="main custom-card">
                    <h6 class="pt-2">New customers</h6>
                    <p>Tel: 0845 504 6262</p>

                    <h6 class="pt-2">New customers</h6>
                    <p>Tel: 0845 504 6262</p>

                    <h6 class="pt-2">Leicester office</h6>
                    <p>
                      5 Merus Court
                      Meridian Business Park
                      Leicester
                      LE19 1RJ
                      United Kingdom
                    </p>

                </div>
              </div>

          </div>
      </div>
  </div>
</section>
