<section>
  <div class="details">
      <div class="container">
          <div class="row">

              <div class="col-lg-12">
                  <h5>Your personal details</h5>
                  <p class="pt-5">Please fill out some personal details below so we know who to contact</p>
              </div>

              <div class="col-lg-12 col-12">
                  <div class="wrapper">

                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Your name">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Position / job title">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Contact number">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Email">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="How did you hear about CITRIX?">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12 ">
                          <div class="press8">
                              <a class="red-btn" href="#">Previous</a>  <a class="red-btn" href="">Next</a>
                          </div>
                      </div>

                  </div>
              </div>

          </div>
      </div>
  </div>
</section>