<section>
  <div class="slider">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-12">
                  <div class="heading">
                      <h6>WE WANT WHAT YOU WANT.</h6>
                      <h1>BECOME MORE <span>SUCCESSFUL.</span></h1>
                      <p>with internationally-recognised standards</p>

                      <div class="press1">
                          <a href="#">Get Started</a> <a href="#">Search Certifications</a>
                      </div>

                      <div class="text">
                          <p>
                              Global leaders in UKAS <br>
                              accredited certification
                          </p>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="wrapper">
                      <div class="image">
                          <img src="../../../../assets/img/1.png">
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="partner">
      <div class="container">
          <div class="row">

              <div class="col-lg-12">
                  <h6>In partnership with</h6>
                  <div class="image1">
                      <img src="../../../../assets/img/p.png">
                  </div>
                  <h3>Internationally-recognised certifications, a global network of specialists</h3>
                  <p>We’re a UKAS-accredited certification body helping businesses around the world perform to a higher standard. A friendly and experienced team of over 280 auditors worldwide, we’ll find you the perfect fit; someone who understands your business, your sector, and can make the journey to success as smooth as possible.</p>
              </div>

              <div class="col-md-6 col-12">
                  <div class="main" routerLink="/start-application">
                      <h5>Start your application</h5>
                      <p>Take the next steps to certification by filling in an application form.</p>
                  </div>
              </div>

              <div class="col-md-6 col-12">
                  <div class="main">
                      <h5>Start your application</h5>
                      <p>Take the next steps to certification by filling in an application form.</p>
                  </div>
              </div>

              <div class="col-lg-12">
                  <h4>At a different stage of your journey?</h4>
              </div>

              <div class="col-md-4 col-12">
                  <div class="row main">
                      <h5>Workshops And Training</h5> <i class="fas fa-angle-right"></i>
                  </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="row main">
                      <h5>Transfer Your Certification</h5> <i class="fas fa-angle-right"></i>
                  </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="row main">
                      <h5>Certificate Checker</h5> <i class="fas fa-angle-right"></i>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="number">
      <div class="container">
          <div class="row">

              <div class="col-12">
                  <h3>Our Expertise In Numbers</h3>
              </div>

              <div class="col-md-3 col-12 pt-5">
                  <div class="main">
                      <h6>EMPLOYEES COVERED BY OUR STANDARDS</h6>
                      <h4>24,380</h4>
                  </div>
              </div>

              <div class="col-md-3 col-12 pt-5">
                  <div class="main">
                      <h6>COUNTRIES COVERED</h6>
                      <h4>30</h4>
                  </div>
              </div>

              <div class="col-md-3 col-12 pt-5">
                 <div class="main">
                      <h6>WORKSHOP DELEGATES</h6>
                      <h4>1,000 +</h4>
                 </div>
              </div>

              <div class="col-md-3 col-12 pt-5">
                  <div class="main no-border">
                      <h6>NO. OF AUDITORS</h6>
                      <h4>280</h4>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="provide">
      <div class="container">
          <div class="row">

              <div class="col-12">
                  <h3>We <span>Provide Certification</span> To Clients Worldwide</h3>
                  <div class="row">
                      <div class="col-lg-6 col-12">
                          <div class="row wrapper">
                              <div class="col-md-2 col-3">
                                  <div class="image2">
                                      <img src="../../../../assets/img/2.png">
                                  </div>
                              </div>

                              <div class="col-md-10 col-9">
                                  <div class="main">
                                      <h6>ISO 9001</h6>
                                  </div>
                              </div>
                              <p>Demonstrate your commitment to quality and efficiency.</p>
                          </div>
                      </div>

                      <div class="col-lg-6 col-12">
                          <div class="row wrapper">
                              <div class="col-md-2 col-3">
                                  <div class="image2">
                                      <img src="../../../../assets/img/2.png">
                                  </div>
                              </div>

                              <div class="col-md-10 col-9">
                                  <div class="main">
                                      <h6>ISO 14001</h6>
                                  </div>
                              </div>
                              <p>Reduce your environmental impact and save money as a result.</p>
                          </div>
                      </div>

                      <div class="col-lg-6 col-12">
                          <div class="row wrapper">
                              <div class="col-md-2 col-3">
                                  <div class="image2">
                                      <img src="../../../../assets/img/2.png">
                                  </div>
                              </div>

                              <div class="col-md-10 col-9">
                                  <div class="main">
                                      <h6>ISO 45001</h6>
                                  </div>
                              </div>
                              <p>The new global management system for health and safety.</p>
                          </div>
                      </div>

                      <div class="col-lg-6 col-12">
                          <div class="row wrapper">
                              <div class="col-md-2 col-3">
                                  <div class="image2">
                                      <img src="../../../../assets/img/2.png">
                                  </div>
                              </div>

                              <div class="col-md-10 col-9">
                                  <div class="main">
                                      <h6>ISO 27001</h6>
                                  </div>
                              </div>
                              <p>Secure your data and protect your corporate assets.</p>
                          </div>
                      </div>

                      <div class="col-lg-6 col-12">
                          <div class="row wrapper">
                              <div class="col-md-2 col-3">
                                  <div class="image2">
                                      <img src="../../../../assets/img/2.png">
                                  </div>
                              </div>

                              <div class="col-md-10 col-9">
                                  <div class="main">
                                      <h6>ISO 50001</h6>
                                  </div>
                              </div>
                              <p>Demonstrate your commitment to quality and efficiency.</p>
                          </div>
                      </div>

                      <div class="col-lg-6 col-12">
                          <div class="row wrapper">
                              <div class="col-md-2 col-3">
                                  <div class="image2">
                                      <img src="../../../../assets/img/2.png">
                                  </div>
                              </div>

                              <div class="col-md-10 col-9">
                                  <div class="main">
                                      <h6>ISO 22301</h6>
                                  </div>
                              </div>
                              <p>Improve how you prioritise and manage risks to your business.</p>
                          </div>
                      </div>

                      <div class="col-lg-6 col-12">
                          <div class="row wrapper">
                              <div class="col-md-2 col-3">
                                  <div class="image2">
                                      <img src="../../../../assets/img/2.png">
                                  </div>
                              </div>

                              <div class="col-md-10 col-9">
                                  <div class="main">
                                      <h6>BS 76000</h6>
                                  </div>
                              </div>
                              <p>Show your commitment to valuing and developing the people in your workforce.</p>
                          </div>
                      </div>

                      <div class="col-lg-6 col-12 ">
                          <div class="row wrapper">
                              <div class="col-md-2 col-3">
                                  <div class="image2">
                                      <img src="../../../../assets/img/2.png">
                                  </div>
                              </div>

                              <div class="col-md-10 col-9">
                                  <div class="main">
                                      <h6>OHSAS 18001</h6>
                                  </div>
                              </div>
                              <p>The original standard for occupational health and safety.</p>
                          </div>
                      </div>

                      <div class="col-md-12">
                          <div class="looking">
                              <h3>Not sure what you’re looking for?</h3>
                              <p>Get in touch with a friendly member of our team who’ll be able to help with your next steps.</p>

                              <div class="press2">
                                  <a href="#">Contact an expert</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="explore">
      <div class="container">
          <div class="row">

              <div class="col-md-12 col-12">
                  <h3>Explore Our Resource Hub</h3>
              </div>

              <div class="col-md-4 col-12">
                 <div class="main">
                      <div class="image3">
                          <img src="../../../../assets/img/e6.jpg">
                      </div>

                      <div class="wrappers">
                          <h6>BLOGS</h6>
                          <h4>Another successful annual UKAS visit</h4>

                          <div class="press2">
                              <a href="#">Read MORE</a>
                          </div>
                      </div>
                 </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="main">
                       <div class="image3">
                           <img src="../../../../assets/img/e2.jpg">
                       </div>

                       <div class="wrappers">
                           <h6>BLOGS</h6>
                           <h4>Annex SL – the Foundation Stone for Management Systems Standards</h4>

                           <div class="press2">
                               <a href="#">Read MORE</a>
                           </div>
                       </div>
                  </div>
               </div>

              <div class="col-md-4 col-12">
                  <div class="main">
                       <div class="image3">
                           <img src="../../../../assets/img/e4.jpg">
                       </div>

                       <div class="wrappers">
                           <h6>BLOGS</h6>
                           <h4>What is ISO certification?</h4>

                           <div class="press2">
                               <a href="#">Read MORE</a>
                           </div>
                       </div>
                  </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="main">
                       <div class="image3">
                           <img src="../../../../assets/img/e1.jpg">
                       </div>

                       <div class="wrappers">
                           <h6>BLOGS</h6>
                           <h4>Integrating Standards: Insights from a Lead Auditor</h4>

                           <div class="press2">
                               <a href="#">Read MORE</a>
                           </div>
                       </div>
                  </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="main">
                       <div class="image3">
                           <img src="../../../../assets/img/e5.jpg">
                       </div>

                       <div class="wrappers">
                           <h6>BLOGS</h6>
                           <h4>Another successful annual UKAS visit</h4>

                           <div class="press2">
                               <a href="#">Read MORE</a>
                           </div>
                       </div>
                  </div>
              </div>

              <div class="col-md-12">
                  <div class="press3">
                      <a href="#">View resource hub</a>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="ready">
      <div class="container">
          <div class="row">

              <div class="col-md-8 col-12">
                  <div class="first">
                      <h6>ARE YOU READY TO GET STARTED?</h6>
                      <p>Getting started is easy and we’ll guide you every step in the way.  Speak to our friendly team by getting in touch below.</p>

                      <div class="press4">
                          <a href="#">Contact us</a>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="image4">
                      <img src="../../../../assets/img/z2.png">
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="tansfer">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-12">
                  <a href="#">Transfer your ISO standards to us</a>
                  <p class="pt-3">If you’ve started the process but would like to switch to us, we can help you get it done quickly and easily.</p>
              </div>

              <div class="col-lg-6 col-12">
                  <a href="#">Need help getting started?</a>
                  <p class="pt-3">Not sure where to start? Contact us and speak to our team. We’ll help you get started in no time.</p>
              </div>

          </div>
      </div>
  </div>
</section>