<section>
  <div class="start">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-12">
                  <div class="head">
                      <h1>ISO 14001</h1>
                      <p class="pt-4">Save money and boost your reputation with the environmental management system.</p>

                      <div class="press12">
                          <a class="red-btn mr-3" href="#">Start application</a>
                          <a class="red-btn" href="#">Get help from an expert</a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="wrapper">
                      <div class="image">
                        <img src="./assets/img/2.png">
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="main">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-12">
          <div class="row">
            <a class="pr-3" href="#">Home</a>
            <p>ISO 14001</p>
          </div>
        </div>

        <div class="col-lg-9 col-12">
          <div class="customers">
              <h4>For a greener, more respected business</h4>
              <p class="pt-3">ISO 14001 is the internationally-recognised system for environmental management. It’s one of the best ways to demonstrate your commitment to the environment, and take sustainable measures to reduce your impact on the world around you.</p>
              <p class="pt-3">You’ll be able to identify, manage, monitor and control environmental issues holistically, with practical tools that will impact your use of resources and the waste you produce.</p>
          </div>
        </div>

        <div class="col-md-3 col-12">
          <div class="wrapper">
            <p>You may also be interested in</p>
            <p class="pt-2"><span>ISO 9001</span></p>
            <p class="pt-2"><span>ISO 14001 </span></p>
            <p class="pt-2"><span>ISO 27001</span></p>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="images">
            <img src="./assets/img/c2.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-9 col-12">
          <div class="customers">
              <h4>How can ISO 14001 help your business?</h4>
              <p class="pt-3"><span>Reduce your environmental impact -</span> With an ISO 14001 certification, you’ll be able to reduce your resources and the subsequent waste produced, which will have a big impact on your carbon footprint. A sustainable business practice is essential for the future, and you’ll be leading the way.</p>
              <p class="pt-3"><span>Save money -</span> With this reduced wastage and better efficiencies, you’ll have better control over your costs and see significant savings across your business.</p>
              <p class="pt-3"><span>Improve your reputation  -</span> Positioned at the forefront of positive change, the reputation of your business as a responsible force will improve its reputation, and increase the trust of your customers.</p>
              <p class="pt-3">There are plenty more benefits of ISO 14001 certification too:</p>

              <ul>
                <li>Meet regulations and compliance requirements, both now and for the future</li>
                <li>Position yourself to win new business tender, as this is often a requirement</li>
                <li>Encourage better environmental performance from your suppliers</li>
                <li>Integrate more easily with other management systems like <span>ISO 9001</span> </li>
              </ul>

              <h4>What are the next steps?</h4>
              <p class="pt-3">We know that taking the next steps can seem a little scary (and like a lot of hard work), but we promise it’s not that bad. We’ve worked with hundreds of clients throughout their journeys and would be glad to work with you.</p>
              <p class="pt-3">All you need to do now is fill in the application form, and a member of our team will be in touch with a personalised quote. It’s that simple!</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="ready">
      <div class="container">
          <div class="row">

              <div class="col-md-8 col-12">
                  <div class="first">
                      <h6>ARE YOU READY TO GET STARTED?</h6>
                      <p>Getting started is easy and we’ll guide you every step in the way.  Speak to our friendly team by getting in touch below.</p>

                      <div class="press4">
                          <a href="#">Contact us</a>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="image4">
                      <img src="./assets/img/z2.png">
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="tansfer">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-12">
                  <a href="#">Transfer your ISO standards to us</a>
                  <p class="pt-3">If you’ve started the process but would like to switch to us, we can help you get it done quickly and easily.</p>
              </div>

              <div class="col-lg-6 col-12">
                  <a href="#">Need help getting started?</a>
                  <p class="pt-3">Not sure where to start? Contact us and speak to our team. We’ll help you get started in no time.</p>
              </div>

          </div>
      </div>
  </div>
</section>


