<section>
  <div class="start">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-12">
                  <div class="head">
                      <h1>ISO 45001</h1>
                      <p class="pt-4">Learn more about the new international occupational health and safety management standard.</p>

                      <div class="press12">
                          <a class="red-btn mr-3" href="#">Start application</a>
                          <a class="red-btn" href="#">Get help from an expert</a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="wrapper">
                      <div class="image">
                          <img src="./assets/img/citrix-logo.png">
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="main">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-12">
          <div class="row">
            <a class="pr-3" href="#">Home</a>
            <p>ISO 45001</p>
          </div>
        </div>

        <div class="col-lg-9 col-12">
          <div class="customers">
              <h4>Migrate to the new health and safety standard</h4>
              <p class="pt-3">Historically, many organisations managed health and safety through OHSAS 18001. This is now being replaced by ISO 45001, the new global health and safety management system. Organisations who are starting the certification process from the beginning will be certified to the ISO 45001:2018.</p>
              <p class="pt-3">If your organisation currently hold OHSAS 18001, you’ll need to go through the ISO 45001 migration process.</p>
          </div>
        </div>

        <div class="col-md-3 col-12">
          <div class="wrapper">
            <p>You may also be interested in</p>
            <p class="pt-2"><span>ISO 9001</span></p>
            <p class="pt-2"><span>ISO 14001 </span></p>
            <p class="pt-2"><span>ISO 27001</span></p>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="images">
            <img src="./assets/img/c3.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-9 col-12">
          <div class="customers">
              <h4>What are the benefits of the ISO 45001 standard?</h4>
              <ul>
                <li>International recognition</li>
                <li>Integrate more easily with other standards like <span>ISO 9001</span> and <span>ISO 14001</span></li>
                <li>Align with other national health and safety standards and avoid confusion</li>
              </ul>

              <h4>What are the potential challenges of ISO 45001 migration?</h4>
              <ul>
                <li>A change in auditor due to a new framework</li>
                <li>Upcoming audits might take longer to complete</li>
                <li>New complexity issues</li>
              </ul>

              <p class="pt-3">Whatever the potential impact, we’ll work closely with you to ensure as smooth migration as possible.</p>

              <h4>What happens next?</h4>
              <p class="pt-3">The first thing you’ll need to do is fill in an application form and we’ll be in touch with a quote. As you start to implement the changes, we’ll do an ISO 45001 gap analysis between the two standards, and get you booked onto one of our workshops for more information on what’s changing.</p>

              <div class="press12 mt-5">
                <a class="red-btn" href="#">Book your place</a>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="ready">
      <div class="container">
          <div class="row">

              <div class="col-md-8 col-12">
                  <div class="first">
                      <h6>ARE YOU READY TO GET STARTED?</h6>
                      <p>Getting started is easy and we’ll guide you every step in the way.  Speak to our friendly team by getting in touch below.</p>

                      <div class="press4">
                          <a href="#">Contact us</a>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 col-12">
                  <div class="image4">
                      <img src="./assets/img/z2.png">
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="tansfer">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-12">
                  <a href="#">Transfer your ISO standards to us</a>
                  <p class="pt-3">If you’ve started the process but would like to switch to us, we can help you get it done quickly and easily.</p>
              </div>

              <div class="col-lg-6 col-12">
                  <a href="#">Need help getting started?</a>
                  <p class="pt-3">Not sure where to start? Contact us and speak to our team. We’ll help you get started in no time.</p>
              </div>

          </div>
      </div>
  </div>
</section>

