.start
{
    background-color: red;
    padding: 7% 0;
    overflow: hidden;
}

.start .press12 
{
    margin-top: 5%;
}

.start .press12 a
{
    background-color: var(--golden);
    color: var(--black);
    box-shadow: unset;
}

.start .wrapper .image
{
    position: absolute;
    top: -80%;
    right: 0;
    width: 80%;
}

.start .wrapper .image img
{
    width: 100%;
}

.team
{
    background-color: white;
    padding: 5% 0;
    // text-align: center;
}

.team .content h5
{
    padding: 0 17%;
}

.team .content p
{
    padding: 0 8%;
    font-size: 17px;
}

.team .press13
{
    margin-top: 5%;
}

.cards 
{
    padding: 5% 0;
    background-color: #e8e8e8;
}

.cards .custom-card
{
    padding: 3% 5%;
    margin-top: 3%;
    border-left: 6px solid red;
    border-top: 0;
}

.cards .text
{
    margin-top: 6%;
}

.cards .text p
{
    padding: 0 10%;
    font-size: 19px;
}

.cards .text .press14
{
    margin-top: 6%;
}

















@media screen and (max-width: 600px)
{

.start
{
    text-align: center;
}    

.cards h5
{
    font-size: 25px;
}

.cards .text
{
    padding: 10% 0%;
}

.cards .text p
{
    padding: 0 5%;
    font-size: 15px;
}



}


















