.start
{
    background-color: red;
    padding: 7% 0;
    overflow: hidden;
}

.start .head h1
{

}

.start .press12 
{
    margin-top: 5%;
}

.start .press12 a
{
    background-color: var(--golden);
    color: var(--black);
    box-shadow: unset;
}

.start .wrapper .image
{
    position: absolute;
    top: -80%;
    right: 0;
    width: 80%;
}

.start .wrapper .image img
{
    width: 100%;
}

.team
{
    background-color: white;
    padding: 5% 0;
    // text-align: center;
}

.team .content h5
{
    padding: 0 17%;
}

.team .content p
{
    padding: 0 8%;
    font-size: 17px;
}

.team .press13
{
    margin-top: 5%;
}


















