  <section>
    <div class="start">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <div class="head">
                        <h1>START YOUR JOURNEY TO CERTIFICATION</h1>

                        <div class="press12">
                            <a class="red-btn mr-3" href="#">Start application</a>
                            <a class="red-btn" href="#">Search Certifications</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="wrapper">
                        <div class="image d-none d-lg-block">
                            <img src="../../../assets/img/unnamed.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </section>

  <section>
    <div class="team">
      <div class="container">
        <div class="row">
          
          <div class="col-md-12 col-12 text-center content">
            <h5>Our friendly and experienced team can help you become certified</h5>
            <p class="mt-4 ">It’s easy to get started. From here you can find a consultant, browse our upcoming training workshops, or speak to a member of our team.</p>

            <div class="press13">
              <a class="red-btn" href="#">Contact an expert</a>
            </div>
          </div>

          <div class="col-md-6 col-12">
            <div class="main custom-card" routerLink="/start-application">
                <h4>Find a consultant</h4>
                <p class="pt-3">If you are starting and need support in implementing you management systems in place, a consultant can help.</p>
            </div>
          </div>

          <div class="col-md-6 col-12">
            <div class="main custom-card">
                <h4>Training and workshops</h4>
                <p class="pt-3">CITRIX delivers training in partnership with CCAS.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="cards">
      <div class="container">
          <div class="row">

              <div class="col-lg-12">
                  <h5>What you need to know about ISO certification</h5>
              </div>

              <div class="col-md-12 col-12">
                <div class="main custom-card">
                    <h4>What is ISO certification?	</h4>
                    <p class="pt-3">Everything you need to know about ISO standards	</p> 
                </div>
              </div>

              <div class="col-md-12 col-12">
                <div class="main custom-card">
                    <h4>How to prepare for ISO certification</h4>
                    <p class="pt-3">With the right preparation, passing your ISO certification audit can be easy. Find out how. </p>
                </div>
              </div>

              <div class="col-md-12 col-12">
                <div class="main custom-card">
                    <h4>Benefits of ISO certification</h4>
                    <p class="pt-3">Find out more about how ISO certification can take your business to the next level. </p>
                </div>
              </div>

              <div class="col-md-12 col-12">
                <div class="main custom-card">
                    <h4>Purchase ISO standards</h4>
                    <p class="pt-3">Take the first step on your journey to certification.</p>
                </div>
              </div>

              <div class="col-md-12 col-12 text-center text">
                <h5>Not sure what you’re looking for?</h5>
                <p class="mt-4 ">We are here to provide genuine, professional and honest answers to any queries or advice to help you create an effective solution for your needs.</p>
    
                <div class="press14">
                  <a class="red-btn " href="#">Contact an expert</a>
                </div>
              </div>

          </div>
      </div>
    </div>
  </section>

  <section>
    <div class="ready">
        <div class="container">
            <div class="row">
  
                <div class="col-md-8 col-12">
                    <div class="first">
                        <h6>ARE YOU READY TO GET STARTED?</h6>
                        <p>Getting started is easy and we’ll guide you every step in the way.  Speak to our friendly team by getting in touch below.</p>
  
                        <div class="press4">
                            <a href="#">Contact us</a>
                        </div>
                    </div>
                </div>
  
                <div class="col-md-4 col-12">
                    <div class="image4">
                        <img src="../../../../assets/img/z2.png">
                    </div>
                </div>
  
            </div>
        </div>
    </div>
  </section>
  
  <section>
    <div class="tansfer">
        <div class="container">
            <div class="row">
  
                <div class="col-lg-6 col-12">
                    <a href="#">Transfer your ISO standards to us</a>
                    <p class="pt-3">If you’ve started the process but would like to switch to us, we can help you get it done quickly and easily.</p>
                </div>
  
                <div class="col-lg-6 col-12">
                    <a href="#">Need help getting started?</a>
                    <p class="pt-3">Not sure where to start? Contact us and speak to our team. We’ll help you get started in no time.</p>
                </div>
  
            </div>
        </div>
    </div>
  </section>





