  <section>
    <div class="start">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <div class="head">
                        <h1>START YOUR JOURNEY TO CERTIFICATION</h1>

                        <div class="press12">
                            <a class="red-btn mr-3" href="#">Start application</a>
                            <a class="red-btn" href="#">Search Certifications</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="wrapper">
                        <div class="image d-none d-md-block">
                            <img src="../../../assets/img/unnamed.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </section>

  <section>
    <div class="team">
      <div class="container">
        <div class="row">
          
          <div class="col-md-12 col-12 text-center content">
            <h5>Our friendly and experienced team can help you become certified</h5>
            <p class="mt-4 ">It’s easy to get started. From here you can find a consultant, browse our upcoming training workshops, or speak to a member of our team.</p>

            <div class="press13">
              <a class="red-btn mr-3 " href="#">Contact an expert</a>
            </div>
          </div>

          <div class="col-md-6 col-12">
            <div class="main custom-card" routerLink="/start-application">
                <h4>Find a consultant</h4>
                <p class="pt-3">If you are starting and need support in implementing you management systems in place, a consultant can help.</p>
            </div>
          </div>

          <div class="col-md-6 col-12">
            <div class="main custom-card">
                <h4>Training and workshops</h4>
                <p class="pt-3">CITRIX delivers training in partnership with CCAS.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

