<section>
  <div class="company">
      <div class="container">
          <div class="row text-center text-md-left">

              <div class="col-lg-12">
                  <h5>Company head office details</h5>
                  <h6 class="pt-4">Please fill out your company / head office details. If this is a multisite application, please indicate the number of sites you would like to apply for.</h6>
              </div>

              <div class="col-lg-12">
                  <div class="main">
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Company name">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12">
                          <p class="py-2">Address finder*</p>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Postcode">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12 ">
                          <div class="press9">
                              <a class="red-btn" href="#">Look Up</a>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-12">
                  <div class="row wrapper">
                      <div class="col-lg-6 col-6">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Name/Number and Street">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-6 col-6">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Address Line 2">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-6 col-6">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Town/City">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-6 col-6">
                          <div class="form-group">
                              <!-- <label for="exampleFormControlSelect1">Example select</label> -->
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>County</option>
                                <option>Devon</option>
                                <option>Bristol</option>
                                <option>Dorset</option>
                                <option>Durhan</option>
                                <option>Essex</option>
                                <option>Cumbria</option>
                              </select>
                            </div>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Company website">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <form>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="What sector does your company operate in?">
                                </div>
                          </form>
                      </div>
  
                      <div class="col-lg-12 col-12">
                          <div class="form-group">
                              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Describe what activities company carries out" rows="3"></textarea>
                            </div>
                      </div>

                      <div class="col-12">
                          <p class="mt-3">Do you hold any other third party registrations?</p>
                      </div>
  
                      <div class="col-lg-2 col-4 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  Single
                              </label>
                            </div>
                      </div>
  
                      <div class="col-lg-2 col-4 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  Combined
                              </label>
                            </div>
                      </div>

                      <div class="col-lg-2 col-4 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  Integrated
                              </label>
                            </div>
                      </div>

                      <div class="col-12">
                          <p class="mt-3">Integrated documentation including as applicable manual, procedures and work instructions etc.</p>
                      </div>
  
                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  Yes
                              </label>
                            </div>
                      </div>
  
                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  No
                              </label>
                            </div>
                      </div>

                      <div class="col-12">
                          <p class="mt-3">Management reviews that consider the overall business strategy and plan</p>
                      </div>

                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  No
                              </label>
                            </div>
                      </div>
  
                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  No
                              </label>
                            </div>
                      </div>

                      <div class="col-12">
                          <p class="mt-3">An integrated approach to internal audits</p>
                      </div>

                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  No
                              </label>
                            </div>
                      </div>
  
                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  No
                              </label>
                            </div>
                      </div>

                      <div class="col-12">
                          <p class="mt-3">An integrated approach to policy and objectives</p>
                      </div>

                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  No
                              </label>
                            </div>
                      </div>
  
                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  No
                              </label>
                            </div>
                      </div>

                      <div class="col-12">
                          <p class="mt-3">An integrated approach to systems processes</p>
                      </div>

                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  No
                              </label>
                            </div>
                      </div>
  
                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  No
                              </label>
                            </div>
                      </div>
  
                      <div class="col-12">
                          <p class="mt-3">An integrated approach to improvement mechanisms</p>
                      </div>
  
                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  Yes
                              </label>
                            </div>
                      </div>
  
                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  No
                              </label>
                            </div>
                      </div>

                      <div class="col-12">
                          <p class="mt-3">Integrated management support and responsibilities</p>
                      </div>
  
                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  Yes
                              </label>
                            </div>
                      </div>
  
                      <div class="col-lg-2 col-2 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  No
                              </label>
                            </div>
                      </div>

                      <div class="col-12">
                          <p class="mt-3">How many additional sites need to be registered as multisite?*</p>
                      </div>

                      <div class="col-lg-1 col-3S py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  0
                              </label>
                            </div>
                      </div>

                      <div class="col-lg-1 col-3 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  1
                              </label>
                            </div>
                      </div>
  
                      <div class="col-lg-1 col-3 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  2
                              </label>
                            </div>
                      </div>
  
                      <div class="col-lg-1 col-3 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  3
                              </label>
                            </div>
                      </div>
  
                      <div class="col-lg-1 col-3 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  4
                              </label>
                            </div>
                      </div>

                      <div class="col-lg-1 col-3 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  5
                              </label>
                            </div>
                      </div>

                      <div class="col-lg-1 col-3 py-4">
                          <div class="form-radio">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                  5+
                              </label>
                            </div>
                      </div>

                  </div>
              </div>

              <div class="col-lg-12 col-12 ">
                  <div class="press10">
                      <a class="red-btn" href="#">Previous</a>  <a class="red-btn" href="">Next</a>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>