<section>
  <div class="start">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-12">
                  <div class="head">
                      <h1>SECTORS WE LEND ASSISTANCE TO</h1>
                      <p class="pt-3">Certifications in general apply to all size businesses SMEs as well as large organisations. However there are some industry sectors that require particular standards as a priority to others.</p>
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="wrapper">
                      <div class="image d-none d-lg-block">
                          <img src="./assets/img/b.png">
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="team">
    <div class="container">
      <div class="row">
        
        <div class="col-md-12 col-12 text-center content">
          <h5>Considerable sector expertise to fully understand your business</h5>
          <p class="mt-4 ">All our auditors are competent to deliver particular standards and have the expertise to provide valuable insight and identify best practice and areas for improvement. This makes the audit more useful and your organisation gets the optimum benefit from the certification.</p>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Agriculture</h4> 
              <!-- <i class="fas fa-angle-right"></i> -->
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Business Services</h4> 
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Construction</h4>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Education</h4>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Healthcare</h4>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Hotels & Restaurants</h4>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>IT Services</h4>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Manufacturing</h4>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Publishing & Printing</h4>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Recycling Waste Management</h4>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Security</h4>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Technical Support</h4>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Transport</h4>
          </div>
        </div>

        <div class="col-md-4 col-12">
          <div class="main custom-card">
              <h4>Wholesale & Retail</h4>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
