<section>
  <div class="type">
      <div class="container">
          <div class="row">

              <div class="col-lg-12">
                  <h5>What type of application is this?</h5>
              </div>

              <div class="col-12">
                  <p class="mt-5">Type of application*</p>
              </div>

              <div class="col-lg-6 col-6 py-4">
                  <div class="form-radio">
                      <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                      <label class="form-check-label" for="exampleRadios1">
                          New
                      </label>
                    </div>
              </div>

              <div class="col-lg-6 col-6 py-4">
                  <div class="form-radio">
                      <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                      <label class="form-check-label" for="exampleRadios1">
                          Renewal
                      </label>
                    </div>
              </div>

              <div class="col-lg-6 col-6 py-4">
                  <div class="form-radio">
                      <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                      <label class="form-check-label" for="exampleRadios1">
                          Scope Extension
                      </label>
                    </div>
              </div>

              <div class="col-lg-6 col-6 py-4">
                  <div class="form-radio">
                      <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                      <label class="form-check-label" for="exampleRadios1">
                          Transfer
                      </label>
                    </div>
              </div>

              <p>If Transfer, please send in your latest Certificate(s) and Report(s)</p>

              <div class="col-lg-12 col-12 ">
                  <div class="press7">
                      <a class="red-btn" href="#">Previous</a>  <a class="red-btn" href="">Next</a>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>