<section>
  <div class="banner">
      <div class="container">
          <div class="row">

              <div class="col-lg-12">
                  <h1>BUSINESS POLICY STATEMENT</h1>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="business">
      <div class="container">
          <div class="row">

              <div class="col-lg-12 col-12">
                  <h5>ACM-CCAS Limited (ACM) is an independent UKAS accredited certification body, which aims to provide an impartial, professional and value adding approach to its clients’ certification requirements.</h5>
                  <p class="pt-3">We are committed to providing services in a manner that conform to the contractual requirements of our clients and the controls laid down by our stakeholders and accreditation bodies.</p>
                  <p class="pt-3">We aim to provide our customers with improved choices, access to a greater range of appropriate certification services and offer value for money when compared to our competitors</p>
                  <p class="pt-3">With these in mind ACM aims to:</p>

                  <ul class="pt-4">
                    <li>Ensure its services are available to all and carry out its business activities in a non-discriminatory manner</li>
                    <li>Employ professionals who have the qualifications and industry knowledge to credibly support our clients</li>
                    <li>Offer a service that is competitive with the market, which is independent and impartial and is seen to be fair, value adding and of high integrity.</li>
                    <li>Operate a management system compliant with the requirements of ISO 17021 and meet any specific requirements of the IAF</li>
                    <li>Ensure that audit activities are carried out in accordance with our scope of accreditation and are conducted inline with the requirements of ISO 19011.</li>
                    <li>Undertake continual improvement in the way we conduct our business and the services we offer.</li>
                    <li>Reduce bureaucracy and avoid imposing undue financial or other conditions on clients or potential clients</li>
                    <li>Help our staff, partners and delivery teams understand the philosophy of ACM, and to equip them to fulfill their talents, whilst operating to agreed formalised management systems</li>
                    <li>Ensure the management and board continually review our objectives, systems, processes and procedures, identify opportunities to do things better and challenge the way we do things to test the effectiveness of our systems, people and financial resources.</li>
                  </ul>

                  <p class="pt-3">All organisations shall have access to ACM services. Access to all certification services shall not be restricted on the grounds that the applicant does not apply for other services or is not a member of a particular group or association. ACM does not practice hidden discrimination by fast tracking or delaying applications.</p>
                  <p class="pt-3">Our objectives, under-pinning values, requirements of our management system and standards we work with or deliver, will be known and understood as appropriate by all within ACM, including the board, management and delivery team.</p>
                  <p class="pt-4">Sean Read – Director</p>
              </div>

          </div>
      </div>
  </div>
</section>