<section>
  <div class="banner">
      <div class="container">
          <div class="row">

              <div class="col-lg-12">
                  <h1>BEGIN CERTIFICATION APPLICATION</h1>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="starting">
      <div class="container">
          <div class="row justify-content-center px-3">

              <div class="col-lg-8">
                 <div class="row main">
                  <h3>Before starting the application</h3>
                  <p class="pt-3">To enable us to provide you with an accurate quotation, please complete all the relevant information. Before filling in your details, please read the <span>CITRIX privacy notice</span> to understand how we handle your information and re-assure you of ACM’s commitment to protecting all its clients data.</p>
                 </div>
              </div>

              <div class="col-lg-12 mt-5">
                  <div class="text-center">
                      <h3>Let’s get your application started</h3>
                      <p class="pt-3">Please select an option below.</p>

                      <div class="press5">
                          <a class="red-btn "routerLink="/start-application/application-form">UK Based</a>
                      </div>
                  </div>                        
              </div>

          </div>
      </div>
  </div>
</section>