<header>
  <div class="top-bar">

      <div class="toggleMenu" onclick="toggleMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
      </div>

      <div class="container">
          <div class="row">

              <div class="col-lg-3 col-12">
                  <div class="logo">
                      <img src="../../../assets/img/citrix-logo.png">

                      <span>33X XXXXXXX</span>
                  </div>
              </div>

              <div class="col-lg-7">
                  <div class="nav">
                      <ul>
                          <li><a href="#">Get Started</a></li>
                          
                          <div class="btn-group">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Certifications
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" routerLink="/contact">Find a consultant</a>
                              <a class="dropdown-item" routerLink="/contact">Training and Workshops</a>
                              <a class="dropdown-item" routerLink="/contact">Certificate checker</a>
                              <a class="dropdown-item" routerLink="/contact">Transfer your certification</a>
                            </div>
                          </div>

                          <div class="btn-group">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" routerLink="/about">International Locations</a>
                            </div>
                          </div>

                          <li><a routerLink="/latest-news">Resources</a></li>
                          <li><a routerLink="/sector">Sectors</a></li>
                          <li><a routerLink="/contact">Contact</a></li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-2">
                  <div class="press">
                      <a routerLink="/start-application">Start Application</a>
                      <!-- <a class="btn btn-danger" href="#">Start Application</a> -->
                  </div>
              </div>

              <!-- mobile side-menu -->
              <div class="mobile-nav">
                  <div id="mySidenav" class="sidenav">
                      <a href="#">Get Started</a>
                      <a href="#">Certifications</a>
                      <a href="#">About</a>
                      <a href="#">Resources</a>
                      <a href="#">Sectors</a>
                      <a href="#">Contact</a>

                      <div class="press container">
                          <a href="#">Start Application</a>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</header>