<section>
  <div class="banner">
      <div class="container">
          <div class="row">

              <div class="col-lg-12">
                  <h1>APPEALS PROCEDURE</h1>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="appeals">
      <div class="container">
          <div class="row">

              <div class="col-lg-12 col-12">
                 <div class="main">
                    <h5>Appeals (where the auditee and the certification body cannot agree on a decision affecting the certification).</h5>

                    <ul class="pt-5">
                      <li>All appeals and disputes will be taken seriously and given high priority for action. Formal proceedings will be initiated if the appeal is:</li>
                      <ul>
                        <li>Made in writing to Citrix-CCAS Limited (Citrix)</li>
                        <li>From an outstanding dispute</li>
                        <li>Received by Head Office within 10 working days of a decision being given to the client by an auditor and/or management and/or the ICB</li>
                        <li>The appeals process shall be completed within 30 days of the receipt of the appeal.</li>
                      </ul>
                    </ul>

                    <ol>
                      <li>The Scheme Manager shall advise the client in writing, stating the actions to be taken and also draw their attention to the Rules of Registration (a copy to be supplied if the client has not retained their copy).</li>
                      <li>A copy of the letter will be held in the client file and a copy in the appeals file.</li>
                      <li>When the Scheme Manager receives an appeal, the ICB must also be informed in writing (within 3 working days).</li>
                      <li>The ICB Chairman must convene an Appeals Committee, which will consist of not less than two ICB members (this can include the chairman) and must exclude Citrix officers. The appellant will be invited to attend the meeting.</li>
                      <li>The committee must not have any involvement with the appellant and any interest must be declared. Any member with an interest must not be allowed to sit on the committee.</li>
                      <li>The committee must convene within 21 days of receipt of the appeal by Citrix.</li>
                      <li>The date and location of the meeting will be notified to the Scheme Manager who will inform the appellant in writing that the appeal is to be discussed.</li>
                      <li>The appeals committee shall review all evidence submitted.</li>
                      <li>Minutes of the meeting shall be made with a copy held in the appeals file.</li>
                      <li>The decision of the appeals committee shall be final and shall be recorded in writing, with copies to the appellant, the Schemes Manager and the Managing Director.</li>
                      <li>Submission, investigation and decision on appeals shall not result in any discriminatory actions against the appellant.</li>
                    </ol>

                    <p class="pt-2">If any appellant is not satisfied with the decision, they would be advised to contact UKAS who may carry out an investigation of the appeals and disputes process in accordance with the specified regulations.</p>
                 </div>
              </div>

          </div>
      </div>
  </div>
</section>



