<section>
  <div class="banner">
      <div class="container">
          <div class="row">

              <div class="col-lg-12">
                  <h1>CLIENT CHARTER COMPLAINTS</h1>
              </div>

          </div>
      </div>
  </div>
</section>

<section>
  <div class="client">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
               <div class="main">
                  <h5 class="pt-5">Listening and responding</h5>
                  <p class="pt-3">We are committed to providing a high quality service to all of our Clients. One of the ways in which we can continue to improve our service is by listening and responding to your comments and complaints.</p>
                  <p class="pt-3">This document sets out our process for dealing with complaints and includes our appeals process if you are unhappy with the response you receive.</p>
                  <p class="pt-3">This policy relates to all certification and training services provided by ACM-CCAS Limited (ACM) or its agents.</p>

                  <h5 class="pt-5">Complaints</h5>
                  <p class="pt-3">All complaints are taken seriously and will be recorded, and handled effectively. Should you feel disappointed with the service you have received, please contact us in writing using the details provided below:</p>
                  <p class="pt-3">The Technical Manager ACM-CCAS Limited Unit 5 Merus Court Meridian Business Park Leicester LE19 1RJ</p>
                  <p class="pt-3">Or email: <span>clientfeedback@acmcert.com</span></p>
                  <p class="pt-3">After sending you an initial acknowledgement, your complaint will be registered and investigated by a member of our Management Team or someone independent of the situation who will contact you to establish the facts surrounding the circumstances of your complaint. In the case of complaints from overseas clients managed by an overseas agent, the agent will be invited to respond to the investigator. Complaints made directly to the agent will be reported to head office along with completion of the relevant paperwork within 5 days.</p>
                  <p class="pt-3">We aim to provide you with an initial response to your complaint within 10 working days of receipt, however occasionally we may need further time to carry out our enquiries. Should this be the case we will ensure you are kept up to date and informed of our progress, and a revised date will be agreed with you</p>
                  <p class="pt-3">Once we have reviewed your feedback fully, we will contact you to advise you of the outcome. This may include a solution to the issue(s) raised and/or measures put in place to ensure any re-occurrence in the future is avoided. All outcomes will be recorded and may result in corrective action and an update to our overall risk management plan. Serious malpractice may result in suspension of an auditor or agency.</p>
                  <p class="pt-3">Complaints about clients registered with ACM will be passed to the client for resolution initially. These will be reviewed at the next scheduled visit.</p>

                  <h5 class="pt-5">Appeals</h5>
                  <p class="pt-3">We aim to work with you to resolve any complaints raised however in the unlikely event that you are not satisfied with our response you may register an appeal.</p>
                  <p class="pt-3">To register an appeal you should contact the Technical Manager on the contact details above, within 10 working days of receiving our response to your feedback.</p>
                  <p class="pt-3">The details of your complaint and appeal will then be reviewed by a member of our Senior Management and we will respond within 10 working days. Depending on the circumstances, this then may be referred to the Independent Certification Board (ICB) who will reply to you within 30 days of receiving your appeal. The ICB will hear all appeals that relate to certification decisions once the management and senior management team at ACM have been through the process above. This will be led by the ICB Chair and involve at least two other independent members. The decision of the ICB will be final and shall be recorded in writing with copies sent to the complaint raiser and senior management at ACM. ACM shall determine, together with the client and the complainant, whether and, if so to what extent, the subject of the complaint and its resolution shall be made public.</p>
                  <p class="pt-3">If at this stage you feel our response is unsatisfactory with regards to the nature of your complaint, you must advise us within 10 working days, and the details of your complaint will be referred to the authorising body i.e. UKAS.</p>
               </div>
            </div>

        </div>
    </div>
</div>
</section>

